<div class="card-body" style="background-color: dimgray">
  <div class="row" style="margin-bottom: 0vh">
    <div class="col">
      <fa-icon (click)="logout()" style="float: right" icon="cog"></fa-icon>
      <!--<button class ="btn logout" style="float: right" (click)="onLogout()">Logout</button>-->
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="profile-content">
        {{name}} ({{auxId}})
      </div>
    </div>
  </div>

  <div class="row profilepic">
    <div class="col">
      <img src="assets/grandcare.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-outline-light">Contact Crisis Line</button>
    </div>
  </div>
</div>


