<!--<div class="container">-->
  <div class="row justify-content-center align-items-center" style="height:100vh">
    <div class="col-5">
      <div class="card">
        <div class="card-body" style="border-color: white">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" >
            <div class="form-group row" [ngClass]="{ 'is-invalid': submitted && ctrls.username.errors }">
              <div class="col-3">
                <label class="control-label"> Username:</label>
              </div>
                <div class="col-8">
                <input type="text"  formControlName="username" class="form-control" name="username" placeholder="Enter Username">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">
                <label class="control-label"> Password:</label>
              </div>
              <div class ="col-8" >
                <input type="password" formControlName="password" class="form-control" name="password" placeholder="Enter Password">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">
                <label class="control-label"> Tenant ID:</label>
              </div>
              <div class="col-8">
                <input type="number" formControlName="tenantId" class="form-control" name="tenant" placeholder="Enter Tenant ID">
              </div>
            </div>
            <div class="form-group text-center">
              <button class="btn btn-sm btn-outline-dark" [disabled]="loginForm.invalid" >Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <img src="assets/grandcare.png" alt="Italian Trulli" style="padding-top: 50px">
      </div>
      <div class="form-group">
        <ngb-alert *ngIf="loginError" type="danger" (close)="loginError = null">{{loginError}}</ngb-alert>
      </div>
    </div>
  </div>
<!--</div>-->


