div{
  background-color: dimgray;
}

.card-body {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  //width: 50vw;
}

label {
  color: white;
}

button {
  background-color: transparent;
  border-color: transparent;
  color: orange;
  display: block;
}

div.card {
  border: none;
}

label {
  font-size: 1.6vw;
}

input {
  font-size: 1.6vw;
}
