div{
  background-color: dimgray;
}
body {
  background-color: dimgray;
}

div.card{
  border: none;
}

.card-body {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
}

label {
  color: white;
}

button {
  background-color: transparent;
  border-color: transparent;
  color: orange;
  justify-content: center;
}
