::placeholder {
  color: #dedede;
}

.body {
  background-color: dimgray!important;
}

.bufferDiv {
  padding: 10px;
  background-color: dimgray;
  height: 100vh;
}

div{

}
.container {
  background-color: dimgray;
  height: 100vh;
}

.list-container {
  max-height: 70vh;
  margin-bottom: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.list-group button span {
  display: inline-block;
}

+span {
  float: right;
}

.form-group {
  margin-bottom: 0.7rem
}





