<div class="bufferDiv">
    <div class="form-group">
      <input class="form-control" [(ngModel)]="searchTxt" type="search" placeholder="Filter patients"
             (input)="onSearchChanged()">
    </div>
    <div class="list-container">
      <div class="list-group">
        <button  *ngFor="let patient of filteredList" type="button" (click)="onPatientSelected(patient)"
                 class="list-group-item list-group-item-action">
          <div class="row">
            <span class="col">{{patient.auxiliaryId}}</span>
            <span class="col">{{patient.firstName}} {{patient.lastName}}</span>
            <span class="col">{{patient.dob | date:'M/d/yyyy'}}</span>
          </div>
        </button>
      </div>
    </div>
  </div>

