/*.container {*/
/*  background-color: dimgray;*/
/*  height: 40vh;*/
/*}*/

div{
  background-color: dimgray;
}

.card-body {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
}

label {
  color: white;
  text-align: right;
}

button {
  background-color: transparent;
  border-color: transparent;
  color: orange;
  display: block;
}

div.card {
  border: none;
}
