<div class="container">
  <div class="row justify-content-center align-items-center">

        <div class="card-body rounded" style="border-color: white;">
          <form [formGroup]="logoutForm" (ngSubmit)="onSubmit(logoutForm.value)" >
            <div class="form-group row" [ngClass]="{ 'is-invalid': submitted && ctrls.username.errors }">
              <label class="control-label col"> Username:</label>
              <div class="col-9">
                <input type="text"  formControlName="username" class="form-control" name="username" placeholder="Enter Username">
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col"> Password:</label>
              <div class ="col-9">
                <input type="password" formControlName="password" class="form-control" name="password" placeholder="Enter Password">
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col"> Tenant ID:</label>
              <div class="col-9">
                <input type="number" formControlName="tenantId" class="form-control" name="tenant" placeholder="Enter Tenant ID">
              </div>
            </div>
            <div class="form-group text-center">
              <button class="btn btn-sm btn-outline-dark" [disabled]="logoutForm.invalid" >Logout</button>
            </div>
        </form>
        </div>
  </div>
</div>
